{% extends 'base.html' %}

{% block content %}
    <h5>Account: {{ object.nickname }} - Details</h5>
    <br>
    <table>
        <thead>
          <tr>
              <th>Account Number</th>
              <th>Balance</th>
              <th>Account Owner</th>
              <th>Date Opened</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ object.id }}</td>
            <td>$ {{ object.balance }}</td>
            <td>{{ object.user }}</td>
            <td>{{ object.time_created }}</td>

        </tbody>
      </table>
    <div class="'spacing">
    <a href="{% url 'trans_create_view' object.id %}" class="waves-effect waves-light btn">New Transaction</a>
    <a href="{% url 'trans_list_view' object.id %}" class="waves-effect waves-light btn">Transactions</a>
    <br><a href="{% url 'transfer_create_view' object.id %}" class="waves-effect waves-light btn">New Transfer</a>
    <a href="{% url 'transfer_list_view' %}" class="waves-effect waves-light btn">Transfers</a>
    </div>
{% endblock %}
