{% extends 'base.html' %}

{% block content %}
    <h5>{{ object.id }} - Account Details</h5>
    <table>
        <thead>
          <tr>
              <th>Account Number</th>
              <th>Balance</th>
              <th>User</th>
              <th>Created</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ object.id }}</td>
            <td>$ {{ object.balance }}</td>
            <td>{{ object.user }}</td>
            <td>{{ object.time_created }}</td>

        </tbody>
      </table>
    <a href="{% url 'trans_create_view' object.id %}">Create Transaction</a>
    <a href="{% url 'trans_list_view' object.id %}">Transaction List</a>
    <a href="{% url 'transfer_create_view' object.id %}">Create Transfer</a>
    <a href="{% url 'transfer_list_view' %}">Transfer List</a>
{% endblock %}