{% extends 'base.html' %}

{% block content %}
    <h5>{{ object.id }} - Transaction Details</h5>
    <table>
        <thead>
          <tr>
              <th>Account Number</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Created</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ object.id }}</td>
            <td>$ {{ object.amount }}</td>
            <td>{{ object.get_trans_type_display }}</td>
            <td>{{ object.time_created }}</td>

        </tbody>
      </table>
{% endblock %}