{% extends 'base.html' %}

{% block content %}
    <h5>Your transaction list</h5>
    <h6>Click on transaction for details</h6>
    <table>
        <thead>
          <tr>
              <th>Type of Transaction</th>
              <th>Amount of Transation</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
          <tr>
            <td><a href="{% url 'trans_detail_view' transaction.id %}">{{ transaction.get_trans_type_display }}</a></td>
            <td><a href="{% url 'trans_detail_view' transaction.id %}">$ {{ transaction.amount }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}
